@import "tailwindcss";
@plugin "flyonui";
@import "flyonui/variants.css";
@source "../node_modules/flyonui/flyonui.js"; /* Add only if node_modules is gitignored*/
@plugin "@tailwindcss/typography";
@plugin "@iconify/tailwind4";

@use "~maplibre-gl/dist/maplibre-gl.css";
@use "~vue-maplibre-gl/dist/vue-maplibre-gl.css";
@use "~vue-maplibre-gl/dist/vue-maplibre-gl-draw.css"; 

html, body, #app {
  margin: 0;
  padding: 0;
  height: 100%;
}